@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="hero">
    <div class="banner">
        <div class="banner-image">@Html.Sitecore().Field("Banner Image", new { mh = "300" })</div>
        <div class="banner-text">
            <h1 class="title">@Html.Sitecore().Field("Page Title")</h1>
            <h2 class="subtitle">@Html.Sitecore().Field("Subtitle")</h2>
        </div>
    </div>
</section>