@model ClothingCompany.Models.Listing

<div>
    <h1 class="subtitle">@Html.Sitecore().Field("__Display Name", Model.ParentItem)</h1>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent">
            @foreach (var article in Model.Posts)
            {
                <div class="tile is-child box">
                    <a href="@article.Url">
                        <div class="columns is-bordered">
                            <div class="column media center">
                                <figure class="image">
                                    @Html.Sitecore().Field("Primary Image", article.Item, new { DisableWebEdit = true, mh = "150" })
                                </figure>
                            </div>
                            <div class="column is-three-quarters media-content">
                                <p class="is-4">@Html.Sitecore().Field("Page Title", article.Item, new { DisableWebEdit = true })</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>